header{
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    z-index: 999;
}
.header-main {
    padding: 15px 20px;
    border-radius: 16px;
    box-shadow: 0px 10px 30px 0px #CFDCE126;
    backdrop-filter: blur(9px);
    background: #FFFFFF80;
}
.logo {
    width: 105px;
}

.menu-mobile {
    gap: 46px;
    width: 100%;
    justify-content: space-between;
}
.nav-menu ul {
    gap: 30px;
}
.nav-menu a{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    transition: 0.3s;
    position: relative;
    white-space: nowrap;
}
.nav-menu a:hover{
    opacity: 0.7;
}

.nav-menu a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background: #273E4B;
    transition: 0.3s;
}
.nav-menu a:hover:after{
    width: 100%;
}

.open-menu{
    display: none;
}
.close-menu {
    display: none;
}
.close-menu span {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;

}

.close-menu span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
    position: relative;
}
.close-menu span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -3px;
}

.close-menu span:nth-child(3){
    display: none;
}

.body_fix {
    overflow: hidden;
}


.menu-name-mob{
    display: none;
}

.languages ul{
    display: flex;
    align-items: center;
    gap: 16px;
}
.languages ul li{
    display: flex;
    width: 40px;
    height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.languages ul li img{
    width: 100%;
}

.header-contact{
    display: none;
}




@media (max-width: 1199px) {

    .nav-menu ul {
        gap: 20px;
    }
    .header-main {
        padding: 12px 20px;
    }
    .nav-menu a {
        font-size: 16px;
        line-height: 19px;
    }

    header {
        top: 13px;
    }


}
@media (max-width: 1020px) {
    .nav-menu{
        position: relative;
        z-index: 1;
    }
    .logo {
        width: 87px;
    }
    .menu-name-mob{
        display: block;
    }
    .languages{
        margin-left: auto;
        margin-right: 16px;
    }
    .open-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        transition: 0.3s;
        z-index: 111111;
        width: 24px;
        height: 24px;

    }
    .open-menu span{
        display: flex;
        background: #273E4B;
        width: 24px;
        height: 2px;
        transition: 0.3s;
    }

    .menu-content {
        width: 100%;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        transition: 0.5s;
        height: 0;
        overflow: hidden;

    }
    .transition-menu {
        height: 365px;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .menu-mobile{
        padding: 15px 20px 25px;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        margin: 0 auto;
        gap: 48px;
        border-radius: 15px;
        background: #FFFFFF;
        box-shadow: 0px 10px 30px 0px #CFDCE126;
        backdrop-filter: blur(50px);

    }
    .nav-menu ul {
        gap: 14px 5px;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-mobile .glob-tit-name{
        display: flex;
        margin: 0;
    }

    .menu-name-mob {
        width: 100%;
        margin-top: -3px;
    }

    .languages ul li {
        width: 33px;
        height: 18px;
    }


    .header-main {
        border-radius: 15px;
    }

    .languages ul {
        gap: 10px;
    }
    .header-contact{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;

    }
    .header-contact i {
        width: 15px;
        filter: invert(1);
    }

}


@media (max-width: 570px){
    .header-contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
    }
    .menu-mobile {
        gap: 28px;
        padding: 15px 15px 23px;
    }
    .header-main {
        padding: 12px 17px 12px 15px;
    }
    .nav-menu ul {
        gap: 9px 5px;
    }
    .transition-menu {
        height: 394px;
    }
    .mbi-street span {
        font-size: 15px;
    }
    .footer-contact {
        font-size: 15px;
    }

}