h1{
    color: #fff;
    font-weight: 500;
    font-size: 50px;
    line-height: 130%;
    text-align: left;

}
h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 126%;
    text-align: left;

    color: #000;
}
h3{
    color: #000;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
}
p{
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    color: #000;
}



.btn {
    background: #0C6DB6;
    height: 54px;
    border-radius: 10px;
    padding: 15px 30px;
    transition: 0.3s;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    white-space: nowrap;
}
.btn:hover, .btn:active{
    background: #273E4B80;
}










.banner-main{
    width: 100%;
    position: relative;
    background-image: url("../img/banner.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0 160px;

}
.banner-main:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);

}


.banner-info{
    position: relative;
    z-index: 1;
    max-width: 738px;
    width: 100%;
}

.banner-info p{
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 20px;
}
.banner-info .btn{
    margin-top: 40px;
}


.projects-main{
    margin-top: 100px;
}

.projects-wrap{
    margin: 40px 0;
    gap: 20px;
}
.projects-box{
    background: #e7e7e7;
    padding: 20px 20px 30px;
    width: calc(33.333333% - 14px);
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}
.projects-photo{
    width: 100%;
    transition: 0.4s;
    border-radius: 10px;
    overflow: hidden;
}
.projects-box:hover img{
    transform: scale(1.04);
}
.projects-photo img{
    width: 100%;
    object-fit:cover;
    border-radius: 10px;
    height: 260px;
    transition: 0.6s;

}
.projects-box h3{
    margin-top: 20px;
}
.projects-box p{
    margin-top: 10px;
}
.projects-rel{
    margin-top: 40px;
    position: relative;
    padding-bottom: 30px;
}

.projects-rel .projects-pagination{
    bottom: 0;
}
.swiper-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-slider .projects-box{
    width: 100%;
}

.swiper-pagination-bullet {
    width: 50px;
    height: 4px;
    border-radius: 5px;
    background: #e7e7e7;
    opacity: 1;
    transition: 0.3s;
}

.swiper-pagination-bullet-active {
    background: #0C6DB6;
}


.about-us{
    margin-top: 150px;
}

.about-us-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-us-box:nth-child(even){
    flex-direction: row-reverse;

}
.about-us-cnt{
    gap: 20px;
    margin-top: 40px;
}
.about-us-info{
    max-width: 560px;
    width: 100%;
}
.about-us-info h2{
    margin-bottom: 20px;
}
.about-us-info p{
    font-size: 18px;
}
.about-us-photo{
    display: flex;
    max-width: 650px;
    width: 100%;
}
.about-us-photo img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: 370px;
}

.our-services{
    margin-top: 120px;
}



.our-services-text{
    margin-top: 40px;
}

.our-services-text ul{
    display: flex;
    flex-wrap: wrap;
    gap: 8px 20px;
    list-style-type: disc;
    padding-left: 20px;
}
.our-services-text ul li{
    width: 48%;
    font-size: 20px;
    line-height: 24px;
}


.our-services-fon{
    margin-top: 40px;
    border-radius: 20px;
    position: relative;
    display: flex;
}
.our-services-fon:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 20px;

}
.our-services-fon img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    height: 540px;
}























.icon-location{
    content: url("../img/icons/location.svg");
}

.icon-mail{
    content: url("../img/icons/mail.svg");
}
.icon-phone{
    content: url("../img/icons/phone.svg");
}

































.gallery-main{
    margin-top: 120px;
}
.gallery-cnt{
    margin-top: 40px;
    position: relative;
    padding-bottom: 30px;
}
.gallery-cnt .swiper-pagination{
    bottom: 0;
}
.gallery-photo{
    cursor: pointer;
    transition: 0.3s;
}
.gallery-photo img{
    border-radius: 10px;
}


.swiper-button-next, .swiper-button-prev{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 1);
    z-index: 2;
}
.swiper-button-prev{
    left: 10px;
}
.swiper-button-next {
    right: 10px;
}
.swiper-button-next:before, .swiper-button-prev:before{
    width: 10px;
    height: 10px;
    content: "";
    position: absolute;
    border-top: 3px solid #0C6DB6;
    border-right: 3px solid #0C6DB6;
}


.swiper-button-prev:before{
    transform: rotate(-135deg);
    left: 20px;
}
.swiper-button-next:before{
    transform: rotate(45deg);
    right: 20px;
}
.swiper-button-prev:after,.swiper-button-next:after{
    display: none;

}









.contact-main{
    margin-top: 120px;
}


.contact-form{
    margin: 40px 0 0;
    padding: 30px 20px;
    background: #0C2545;
    border-radius: 16px;
    z-index: 9;
}
.contact-main .container{
    position: relative;
}
.contact-wrap{
    gap: 20px 20px;
}
.contact-wrap .btn{
    width: 48%;

}
.form-input{
    width: 48%;
}
.form-input label{
    width: 100%;
    display: flex;
}
.form-input input{
    background: #FFFFFF;
    width: 100%;
    height: 52px;
    border-radius: 8px;
    padding: 12px 16px;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    border: 1px solid transparent;
}
.form-input input::placeholder{
    color: #000;
}















.contact-map{
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 30px;

}

#map{
    width: 100%;
    height: 100%;
}








footer{
    margin-top: 80px;
    padding-bottom: 40px;
}
.footer-main{
    gap: 20px;
    background: rgba(6, 7, 2, 1);
    padding: 30px;
    border-radius: 20px;

}
.logo-footer a{
    width: 160px;
}
.logo-footer img{
    width: 100%;
}


.footer-menu h3{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}
.footer-menu ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.footer-menu a{
    transition: 0.3s;
    white-space: nowrap;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: rgba(255, 255, 255, 1);
    position: relative;
}
.footer-menu a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background: #FFFFFF;
    transition: 0.3s;
}
.footer-menu a:hover:after{
    width: 100%;
}
.footer-soc {
    max-width: 405px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.mbi-street{
    gap: 10px;
}
.mbi-street span{
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    color: rgba(255, 255, 255, 1);
}

.footer-contact{
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    transition: 0.3s;
    white-space: nowrap;
}

.social-icons{
    gap: 20px;
}
.social-icons a{
    display: flex;
    transition: 0.3s;
    width: 27px;
}

.footer-fon{
    background: rgba(6, 7, 2, 1);
    padding: 24px 0;
    margin-top: 80px;
}
.footer-text{
    gap: 24px;

}
.footer-policy {
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
    align-items: flex-start;
}
.footer-policy span{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;

}



